<div class="invoer" data-ng-controller="ZoekController">
    <h2>Zoeken</h2>

    <table>
        <tr>
            <td>Rekeningnummer</td>
            <td><input type="text" data-ng-model="rekeningNummer" /></td>
        </tr>
        <tr>
            <td><input type="submit" class="button" data-ng-click="zoekenRekening()" value="Verzenden" /> </td>
        </tr>
    </table>
    <h2>Overzicht</h2>
    <table data-ng-show="rekeningen">
        <tr>
            <td>Rekeninghouder</td>
            <td>Rekeningnummer</td>
            <td>Saldo</td>
        </tr>
        <tr data-ng-repeat="rekening in rekeningen">
            <div>
                <td>{{rekening.naam}}</td>
                <td>{{rekening.rekeningNummer}}</td>
                <td>{{rekening.saldo}}</td>
            </div>
        </tr>
    </table>
</div>
