
<html>
<head>
    <title>HardWin Bank Homepage</title>
    <link rel="stylesheet" type="text/css" href="css\theme.css">
</head>
<body data-ng-app="hardwinBankApp">
<div>
    <div class="header">
        <center>        <img src="images\HardWinLogo.jpg" height="300px" width="800px"></center>
    </div>

    <div class="menu">

        <a href="zoeken.html" class="button">ZOEKEN</a>

    </div>

    <div class="invoer" data-ng-controller="ZoekController">
        <h2>Zoeken</h2>

        <table>
            <tr>
                <td>Rekeningnummer</td>
                <td><input type="text" data-ng-model="rekeningNummer" /></td>
            </tr>
            <tr>
                <td><input type="submit" class="button" data-ng-click="zoekenRekening()" value="Verzenden" /> </td>
            </tr>
        </table>
        <h2>Overzicht</h2>
        <table data-ng-show="rekeningen">
            <tr>
                <td width="180px">Rekeninghouder</td>
                <td width="180px">Rekeningnummer</td>
                <td>Saldo</td>
            </tr>
            <tr>
                <td>Edwin Cox</td>
                <td>NLHWDN03542345</td>
                <td>300</td>
            </tr>
            <tr>
                <td><a href="richard_aalten.html">Richard Aalten</a></td>
                <td><a href="NLHWDN0323423423.html">NLHWDN0323423423</a></td>
                <td>300</td>
            </tr>
            <tr>
                <td></td>
                <td><a href="NLHWDN0656543329.html">NLHWDN0656543329</a></td>
                <td>1500</td>
            </tr>
        </table>
    </div>


</div>

