
<html>
<head>
    <title>HardWin Bank Homepage</title>
    <link rel="stylesheet" type="text/css" href="css\theme.css">
</head>
<body data-ng-app="hardwinBankApp">
<div>
    <div class="header">
        <center>        <img src="images\HardWinLogo.jpg" height="300px" width="800px"></center>
    </div>

    <div class="menu">

        <a href="zoeken.html" class="button">ZOEKEN</a>

    </div>

    <div class="invoer" data-ng-controller="ZoekController">
        <h2>Zoeken</h2>

        <table>
            <tr>
                <td>Rekeningnummer</td>
                <td><input type="text" data-ng-model="rekeningNummer" /></td>
            </tr>
            <tr>
                <td><a href="zoeken_resultaat.html"><input type="submit" class="button" data-ng-click="zoekenRekening()" value="Verzenden" /> </a></td>
            </tr>
        </table>
        <br/>
    </div>


</div>

